/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_tree .
 *= require_self
 */
 
 /* Amber, 500,700,800
    https://www.materialpalette.com/colors
 */
 
/*
*  .something { ...
*       put all your attributes that are 
*       the same on all screen sizes here
*       and mobile styles
*  }
*   
*  @media screen and (min-width: 1224px) {
*       .mobile {
*           display: none;
        }
        #desktop_tv {
          display:block; HINT HINT DO SOMETHING ABOUT THIS
*       }
    }
*/

/* RESET ALL MARGIN AND PADDING, SET FONT-SIZE */ 
body {
  font-size: 6vw;
}
* {
  margin: 0;
  padding: 0;
  font-family:'Raleway', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Libre Baskerville', serif;
  margin-top:2.5vw;
  margin-bottom:2.5vw;
  color:#fff;

}

#name {
  font-family: 'Oleo Script Swash Caps', fantasy;
  line-height: 90%;
  font-size: 10vw;
  margin: 3vw;
  padding-top:2vw;
  color: #2A150D;
}

#tv_section_desktop {
  display:none;
}

#project_list {
  display:none;
}

@media screen and (min-width: 1224px) {
  .mobile {
     display: none;
  }
  .chevron::before {
     display:none;
  }
  .chevron::after {
     display:none;
  } 
  #name {
    font-size: 3vw;
    padding-top:0vw;
  }
  #tv_section_desktop {
    display:block;
  }
  #project_list {
    display:block;
    margin-top:-2vw;
  }
  body {
    font-size: 2vw;
  }
  #contact_section {
    font-size: 1vw;
  }
}

.chevron {
  text-align: center;
  margin-bottom: 0vw;
  /*height:65vw; ENABLE to do fixed design (pair with chevron)*/
  width: 100%;
  position:relative;
  display: block;
  padding-top: 0.5vw;
  padding-bottom: 5vw;
}

.chevron::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 51%;
  z-index: -1;
  -webkit-transform: skew(0deg, 6deg);
  -moz-transform: skew(0deg, 6deg);
  -ms-transform: skew(0deg, 6deg);
  -o-transform: skew(0deg, 6deg);
  transform: skew(0deg, 6deg);
}

.chevron::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  z-index: -1;
  -webkit-transform: skew(0deg, -6deg);
  -moz-transform: skew(0deg, -6deg);
  -ms-transform: skew(0deg, -6deg);
  -o-transform: skew(0deg, -6deg);
  transform: skew(0deg, -6deg);
}

.antichev {
  /*height:65vw; ENABLE to do fixed design (pair with chevron)*/
  padding-top: 0vw;
  padding-bottom: 5vw;
}

#antichev3 {
  padding-bottom:0vw;
}


#chev1::before {
  /*background-color: #ffa000;*/
  background: linear-gradient(#ffa000, #ff8f00)
}
#chev1::after {
  /*background-color: #ffa000;*/
  background: linear-gradient(#ffa000, #ff8f00)
}
#chev2::before {
  /*background-color: #ffa000;*/
  background: linear-gradient(#ffa000, #ff8f00)
}
#chev2::after {
  /*background-color: #ffa000;*/
  background: linear-gradient(#ffa000, #ff8f00)
}

.mobilesection {
  padding:5vw;
}

.section_title {
  color:#fff;
}

.subtitle {
  color:#fff;
  margin-top:2.5vw;
  margin-bottom:2.5vw;
}

p {
  color:#2a150d;
  text-align:center;
  margin-left:3vw;
  margin-right:3vw;
}

strong {
  color:#2A150D;
  font-style: italic;
}

a {
  position:relative;
  color:#2a150d;
  font-style: italic;
  transition: color 0.4s linear;
}
a:visited { 
  text-decoration: none;
  color:#2a150d;
}
a:focus { 
  text-decoration: underline; 
  color:#2a150d; 
}
a:hover, a:active {
  color:#2a150d; 
}
a:hover { 
  color:#FC5185; 
}

#contact_section {
  font-size: 3vw;
}

#contactbar {
  display:flex;
  justify-content: space-between;
  padding-top:2vw;
  padding-bottom:2vw;
}
